

<div  style="text-align: center; margin: auto; width: 80%;">
    <h1>{{locationMessage}}</h1>
    <button class="button-5" role="button" (click)="askLocation()" style="left:50%;">{{buttonMessage}}</button>
    <br>
    <br>
    <a href=""  (click)="clearLocation()">{{refreshMsg}}</a>
    <div *ngIf="locationDenied">
        <p>Unfortunately, you'll have to go in your browser settings if you wish to re-enable them</p>
        <a href="{{permsSupportUrl}}" target="_blank" *ngIf="permsSupportUrl">How to change permission settings on {{permsBrowserText}}</a>
        
        <div *ngIf="engineIsBlink" style="display: flex; column-gap: 20px; justify-content: center;">
            Here's how to do so on:
            <span>
                <a href="https://support.google.com/chrome/answer/114662" target="_blank">
                    Chrome
                </a>
            </span>
            <span>
                <a href="https://www.groovypost.com/howto/enable-or-disable-site-permissions-in-microsoft-edge/" target="_blank">
                    Edge
                </a>
            </span>
            <span>
                <a href="https://help.opera.com/en/latest/web-preferences/#location" target="_blank">
                    Opera
                </a>
            </span>
        </div>
    </div>
</div>