<div class="toolbar"><img src="assets/img/logoWhite.png" alt="logo" style="margin: 15px; height: 75px;"><h1 style="text-align:center; font-size: xxx-large; vertical-align: middle;">{{title}}</h1></div>

<div id="main-content">
  <div id="intro-paragraph"> 
    <p>Werewolf tracker is a utility that tracks the cycle of the moon and it's current position, and the projected cloud cover, to predict the risk of encountering werewolves in your area.
    <br/><br/>
    The website was made in Angular, and uses the <b>Visual Crossing API</b> to get the current weather conditions, and the <b>MoonCalc API</b> to get the current position of the moon.
    </p>
  </div> 

  <br><br>
<app-geolocation></app-geolocation>

</div>

