body{
    background-color: #0d0015;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
}