<div id="main-content">
    <div class="centered-paragraph"> 
      <p>Werewolf tracker is a utility that tracks the cycle of the moon and it's current position, and the projected cloud cover, to predict the risk of encountering werewolves in your area.
      <br/><br/>
      The website was made in Angular, and uses the <a href="https://www.visualcrossing.com/weather-api" target="_blank" style="font-weight: bold;">Visual Crossing API</a> to get the current weather conditions and data about the moon.
      </p>
    </div> 
  
    <br><br>
  <app-geolocation></app-geolocation>
  
</div>